.footer {
  width: 100%;
  background-color: #252525;
  padding: 60px 0;
  font-family: sans-serif;
}

.footer-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-brand {
  text-align: center;
  color: white;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.newsletter {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto 20px;
  display: flex;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 5px;
  position: relative;
}

.newsletter-input {
  flex: 1;
  font-size: 18px;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  height: 40px;
  line-height: 40px;
}

.newsletter-input::placeholder {
  color: #fff;
}

.subscribe-button {
  font-size: 17px;
  color: #f26522;
  font-weight:700;
  background-color: transparent;
  border: none;
  padding-left: 15px;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: 'Poppins';
}

.subscribe-button a {
  color: #f26522;
  text-decoration: none;
}

.subscribe-button a:hover {
  color: #ffffff;
}

.footer-links {
  text-align: center;
  margin-top: 40px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-links li {
  margin: 20px 25px 0;
  font-size: 16px;
}

.footer-links a {
  color: #f1f1f1;
  text-decoration: none;
}

.footer-links a:hover {
  color: #f26522;
}

.contact-info {
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  margin-top: 40px;
}

.contact-info a {
  color: #ffffff;
  text-decoration: none;
}

.contact-info a:hover {
  color: #f26522;
}

.footer-credit {
  text-align: center;
  color: #aaa;
  font-size: 14px;
  padding: 40px 0 0;
  margin-top: 50px;
}
