.footer {
  width: 100%;
  float: left;
  background-color: #252525;
  padding: 60px 0;
}

.footer-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-brand {
  text-align: center;
  color: white;
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 20px;
  font-family: 'Arial', sans-serif;
}

.newsletter {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  border-bottom: 1px solid #ffffff !important;
}

.newsletter-input {
  width: 100%;
  font-size: 18px;
  color: #fff;
  background-color: transparent;
  padding: 5px 0;
  height: 60px;
  border: none;
}

input.newsletter-input::placeholder {
  color: #fff;
}

.subscribe-button {
  width: 30%;
  font-size: 16px;
  color: #f26522;
  background-color: transparent;
  padding: 20px 0 5px;
  text-transform: uppercase;
  text-align: right;
}

.subscribe-button a {
  color: #f26522;
  text-decoration: none;
}

.subscribe-button a:hover {
  color: #ffffff;
}

.footer-links {
  text-align: center;
  margin-top: 20px;
}

.footer-links ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}

.footer-links li {
  float: left;
  font-size: 16px;
  padding: 20px 10px 0;
}

.footer-links li a {
  color: #f1f1f1;
  text-decoration: none;
}

.footer-links li a:hover {
  color: #f26522;
}

.contact-info {
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  padding: 30px;
}

.contact-info a {
  color: #ffffff;
  text-decoration: none;
}

.contact-info a:hover {
  color: #f26522;
}
.footer-credit {
  text-align: center;
  color: #aaa;
  font-size: 14px;
  padding: 20px 0;
  font-family: 'Arial', sans-serif;
}
