.buyNowBtn {
    width: 100px;
    padding: 50px;
    margin: 20px;
    background-color: rgb(49, 49, 49);
    color: white;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
 
.buyNowBtn:hover {
   
}